<h1>Edit User</h1>

<div class="add-box">
    <label for="name">User Name : </label>
    <input type="text" placeholder="Enter Name" name="name" [formControl]="name"> 
    <br><br>   
    <label for="age">User Age : </label>
    <input type="text" placeholder="Enter Age" name="age" [formControl]="age">   
    <br><br> 
    <label for="email">User Email : </label>
    <input type="text" placeholder="Enter Email" name="email" [formControl]="email">  
    <br><br>
    <button (click)="editUser()">Update User</button>  
</div>