
<div class="add-box add-box user-ul max-w-lg shadow-2xl m-4 p-4 rounded-3xl bg-green-100">
    <h1 class="text-4xl text-orange-700 text-center">Add New User</h1>
    <label for="name">User Name : </label>
    <input 
    class="w-auto border border-gray-300 bg-amber-50 rounded px-3 mt-4" 
    type="text" placeholder="Enter Name" name="name" [formControl]="name"/> 
    <br><br>   
    <label for="age">User Age : </label>
    <input 
    class="w-auto border border-gray-300 bg-amber-50 rounded px-3"
    type="text" placeholder="Enter Age" name="age" [formControl]="age">   
    <br><br> 
    <label for="email">User Email : </label>
    <input 
    class="w-auto border border-gray-300 bg-amber-50 rounded px-3"
    type="text" placeholder="Enter Email" name="email" [formControl]="email">  
    <br><br>
    <button class="bg-green-600 text-white rounded-md p-1 m-2" (click)="addUser()">Add User</button>  
</div>