<h1>Users List</h1>
<ul>
  @for (user of userData(); track user.id) {
    <li>
      <div class="user-ul">
        <ul>
          <li class="user-li">Name : {{ user.name | uppercase }}</li>
          <li>Id : {{ user.id }}</li>
          <li>Age : {{ user.age }}</li>
          <li>Email : {{ user.email }}</li>
        </ul>
        <div>
            <button (click)="deleteUser(user.id)">Delete</button>
            <button (click)="editUser(user.id)">Edit</button>
        </div>
      </div>
    </li>
  }
</ul>
