<h1 class=" w-70 border border-b-2 bg-green-800 text-center text-4xl rounded-2xl text-white p-1 ml-50">Users List</h1>
<ul>
  @for (user of userData(); track user.id) {
    <li>
      <div class="user-ul max-w-2xl shadow-2xl m-4 p-4 rounded-3xl bg-gray-100">
        <ul class="space-y-2 text-gray-800">
          <li class="user-li flex justify-between">
            <span>Name :</span>
            <span>{{ user.name | uppercase }}</span>
          </li>

          <li class="flex justify-between">
            <span>Id :</span>
            <span>{{ user.id }}</span>
          </li>

          <li class="flex justify-between">
            <span>Age :</span>
            <span>{{ user.age }}</span>
          </li>
          

          <li class="flex justify-evenly">
            <span>Email : </span>
            <span>{{ user.email }}</span>
          </li>

        </ul>
        <div>
            <button class="bg-red-600 text-white p-0.5 m-2 rounded-md cursor-pointer" (click)="deleteUser(user.id)">Delete</button>
            <button class="bg-green-600 text-white p-0.5 m-1 rounded-md cursor-pointer" (click)="editUser(user.id)">Edit</button>
        </div>
      </div>
    </li>
  }
</ul>
